form {
	padding: 20px;
	.input-field {
		input,
		select {
			height: 40px;
			width: 100%;
			box-sizing: border-box;
		}
	}
	button {
		width: 100%;
		height: 30px;
		background-color: $bg-main;
		border: none;
		color: white;
		cursor: pointer;
		font-weight: 600;
	}
}
